/*structure*/
body {
    font-family: 'Courier New', Courier, monospace;
}
#content{
    width: 85%;
    margin: auto;
}
#main-header , #main-footer {
    background: red;
    padding: 5px;
}
#main-header{
    border-radius: 5px 5px 0 0;
}
#main-footer{
    border-radius: 0 0 5px 5px;
}
#page-content {
    background: pink;
    padding: 5px;
    
}
.content-section{
    background: lightgoldenrodyellow;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
/*main nav*/
#main-nav li{
list-style-type: none;
display: inline-block;
}
#main-nav a{
    text-decoration: none;
    background: blue;
    padding: 5px;
    color: white;
    border-radius: 3px;
}
#main-nav a:hover{
    color: purple
}
/*typographu*/
#main-header h1 {
    text-align: center;
}

/*larger resolutions*/
@media(min-width:900px){
    #main-nav ul, .flex-container{
        display: flex;
    }
    #main-nav li,.content-section{
        flex:1;
    }
}

