@media(min-width: 900px){
   .content{
       display: flex;
   }
   .one{
       flex: 1;
   }
   .double{
    display: flex;
   }
   .two{
       flex: 1;
   }
}
.content{
    background-color: aqua;
}
#center{
   text-align: center;
}
.center{
   text-align: center;
}
#rectangle {
    width: 150px;
    height: 500px;
    background: #fff;
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
}