#center{
    text-align: center;
}
#flex{
    display: flex;
}
#clickimage{
background-color: #F2F0D6;
color: #6DA6AF;
}
#slider{
background-color: #F2F0D6;
color: #6DA6AF;
}
#stars{
    background-color: #6DA6AF;
}
.shape {
    width: 100px;
    height: 100px;
    background-color: red;
}
#flex-container,#slider,#clickimage,#stars{
    display: block;
    justify-content: space-evenly;

    flex: 3;
}
#column{
   flex: 1;
}
@media(min-width:900px){
    #flex{
        display: flex;
    }
    #changeimage,#slider,#stars{
        flex: 2;
    }
}