#center{
    text-align: center;
}
#flex{
    display: flex;
}
#changeimage{
background-color: #F2F0D6;
color: #6DA6AF;
image-orientation: center;
}
#slider{
background-color: #F2F0D6;
color: #6DA6AF;

}
#stars{
    background-color: #6DA6AF;
}
@media(min-width:900px){
    #flex{
        display: flex;
    }
    #changeimage,#slider,#stars{
        flex: 2;
    }
}