#firsthead{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: #73000A;
    padding: 10px;
    margin: 0px;
    border: 2px solid #000000;
}
#branding h2{
    font-size: large;
    color: #73000A;
}
#red{
    color: #73000A;
}
#highlightlist{
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
text-decoration: none;
}
#highlightlist article{
    display: block;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#container{
    display: flex;
}
#columof5 a{
    display: block;
    text-decoration: none;
    color: inherit;
}
#columof2{
    border-left: 1px solid #73000A;
}
#b{
    font-weight: bold;
    font-size: larger;
    color: #73000A;
}

