#firsthead{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: #73000A;
    padding: 2px;
    border: 2px solid #000000;
}
#maincontent h2{
    font-size: large;
    color: #73000A;
}
.red{
    color: #73000A;
}
#highlightlist{
text-decoration: none;
}
#highlightlist a{
    display: block;
    text-decoration: none;
    color: inherit;
}
#highlighlist h2{
    font-size: large;
    color: #73000A;
}
#highlightlist article{
    display: block;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}
#container{
    display: flex 1;
}
#columof5 a{
    display: block;
    text-decoration: none;
    color: inherit;

}
#DepartmentHI{
    font-size: large;
    color: #73000A;
    border-top: 1px #000000;
}
#text h3{
    font-size: medium;
    color: #73000A;
    text-decoration: none;
}
#text p{
    font-size: small;
    text-decoration: none;
    color: black;
}
#columof2{
    border-left: 1px solid #73000A;
}
#b{
    font-weight: bold;
    font-size: larger;
    color: #73000A;
}
#columof2 aside{
    display: block;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}
#glancetitle{
font-size: small;
color: gray;
}
#glancehead{
    font-size: large;
    color: #73000A;
}
#glancecontent b{
    font-size: large;
    color: #73000A;
}
#group{
    border-left: 1px ;
    border-left-color: #73000A;
    border-right: 1px solid black;
    border-top: 1px solid #000000;
    border-bottom: 1px solid black;
}
#group img{
  align-items: left;
}
#a1{
    border-bottom: 1px solid #000000;
}
#a2{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
#a3{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
#a4{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
#a5{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
#footer {
    display: flex;
    background-color: gray;
    color: black;
    padding: 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;

}

#footer a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

#footer a:hover {
    color: #73000A;
}
