#firsthead{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    background-color: #73000A;
    padding: 2px;
    border: 2px solid #000000;
}
#maincontent h2{
    font-size: large;
    color: #73000A;
}
.red{
    color: #73000A;
}
#highlightlist{
text-decoration: none;
}
#highlightlist a{
    display: block;
    text-decoration: none;
    color: inherit;
}
#highlighlist h2{
    font-size: large;
    color: #73000A;
}
#highlightlist article{
    display: block;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}
#container{
    display: flex;
}
#columof5 a{
    display: block;
    text-decoration: none;
    color: inherit;

}
#DepartmentHI{
    font-size: large;
    color: #73000A;
}
#text h3{
    font-size: medium;
    color: #73000A;
    text-decoration: none;
}
#text p{
    font-size: small;
    text-decoration: none;
    color: black;
}
#columof2{
    border-left: 1px solid #73000A;
}
#b{
    font-weight: bold;
    font-size: larger;
    color: #73000A;
}
#columof2 aside{
    display: block;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}
#glance{

}
#underglance{

}
#ugimage{

}
#group{

}
#glancetitle{
font-size: small;
color: gray;
}
#glancehead{
    font-size: large;
    color: #73000A;
}
#glancecontent b{
    font-size: large;
    color: #73000A;
}
#glancelink{

}